<!--<h2>Sign up</h2>-->

<%#= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
<%#= render "devise/shared/error_messages", resource: resource %>

<!--  <div class="field">-->
<!--    <%#= f.label :email %><br/>-->
<%#= f.email_field :email, autofocus: true, autocomplete: "email" %>
<!--  </div>-->

<!--  <div class="field">-->
<%#= f.label :password %>
<%# if @minimum_password_length %>
<!--      <em>(<%#= @minimum_password_length %> characters minimum)</em>-->
<!--    <%# end %><br/>-->
<%#= f.password_field :password, autocomplete: "new-password" %>
<!--  </div>-->

<!--  <div class="field">-->
<!--    <%#= f.label :password_confirmation %><br/>-->
<%#= f.password_field :password_confirmation, autocomplete: "new-password" %>
<!--  </div>-->

<!--  <div class="actions">-->
<%#= f.submit "Sign up" %>
<!--  </div>-->
<%# end %>

<%#= render "devise/shared/links" %>




<% content_for :head_authentication do %>
  <%= stylesheet_link_tag "login" %>
<% end %>





<div class="bg-img">
  <div class="content">
    <header>Đăng Ký</header>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%#= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <span class="fa fa-user"></span>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", required: "true", placeholder: "nhập email của bạn" %>


      </div>

      <div class="mt-2 bg-transparent">
        <% resource.errors.full_messages_for(:email).each do |message| %>
          <div class=" small text-danger mt-2"><%= message %></div>
        <% end %></div>


      <div class="field space mb ">
        <span class="fa fa-lock"></span>

        <%= f.password_field :password, autocomplete: "new-password", class: "password ", required: 'true', placeholder: "nhập password của bạn" %>


      </div>


      <div class="mt-2 bg-transparent">
        <% resource.errors.full_messages_for(:password).each do |message| %>
          <div class=" small text-danger mt-2"><%= message %></div>
        <% end %></div>


      <div class="field space">
        <span class="fa fa-lock"></span>

        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "password", required: 'true', placeholder: "nhập lại password của bạn" %>


      </div>

      <div class="mt-2 bg-transparent">
        <% resource.errors.full_messages_for(:password_confirmation).each do |message| %>
          <div class=" small text-danger mt-2"><%= message %></div>
        <% end %></div>


      <div class="field mt-3">
        <%= f.submit "Đăng Ký" %>
      </div>


      <div class="signup mt-4 fs-6">Bạn Đã Có Tài Khoản?
        <%= render "devise/shared/links" %>
      </div>
    <% end %>


  </div>

</div>


